In [3]:
from sklearn import preprocessing
import numpy as np
import pandas as pd

In [24]:
data = pd.read_csv('orders.csv', error_bad_lines=False)

/tmp/ipykernel_20793/786199948.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv('orders.csv', error_bad_lines=False)
Skipping line 22679: expected 34 fields, saw 44

Skipping line 109983: expected 34 fields, saw 35

In [25]:
data = data.drop([109983,22679])

In [29]:
data.sample(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,geolocation_zip_code_prefix,...,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
107814,f9ec88f49637ef75f91d3b52f89b2809,f9221637539179d48001ecf3e5311cc9,delivered,2018-04-12 16:54:10,2018-04-13 02:32:07,2018-04-13 17:32:29,2018-04-30 19:06:47,2018-05-14 00:00:00,46417d48bc2287961151018320f0addb,94080,...,629e019a6f298a83aeecc7877964f935,automotivo,57,1166,5,1750,30,30,30,auto
44595,67642a6b87ab5c8cdfffd5b81da8a501,3e6dfa790a707f380c06b3cc7377d744,delivered,2017-11-11 17:04:27,2017-11-11 17:26:16,2017-11-16 18:12:00,2017-11-27 20:32:57,2017-12-08 00:00:00,62427dae018e2e825db2d1b95522d5ab,39260,...,64ff7191a8c0fb8fa9b42e947104d406,papelaria,58,391,4,5900,28,55,37,stationery

In [28]:
data.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'geolocation_zip_code_prefix', 'geolocation_lat',
       'geolocation_lng', 'geolocation_city', 'geolocation_state',
       'order_item_id', 'seller_id', 'shipping_limit_date', 'price',
       'freight_value', 'geolocation_zip_code_prefix.1', 'geolocation_lat.1',
       'geolocation_lng.1', 'geolocation_city.1', 'geolocation_state.1',
       'product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [32]:
data['order_status'].unique()

array(['delivered', 'shipped', 'canceled', 'invoiced', 'processing',
       'approved', 'unavailable'], dtype=object)

In [38]:
dict_order_status = {'delivered': 1, 'shipped': 2, 'canceled': 3,\
             'invoiced': 4, 'processing': 5, 'approved': 6, 'unavailable': 7}

In [39]:
data['order_status'] = data['order_status'].replace(dict_order_status)

In [41]:
data.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,geolocation_zip_code_prefix,...,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,1,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,...,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,58,598,4,650,28,9,14,cool_stuff
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,1,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,eb28e67c4c0b83846050ddfb8a35d051,15775,...,e5f2d52b802189ee658865ca93d83a8f,pet_shop,56,239,2,30000,50,30,40,pet_shop

In [53]:
categories = data['product_category_name_english'].unique()
dict_categories = {categories: \
               indice + 1 for indice, categories in enumerate(categories)}
print(dict_categories)

{'cool_stuff': 1, 'pet_shop': 2, 'furniture_decor': 3, 'perfumery': 4, 'garden_tools': 5, 'housewares': 6, 'telephony': 7, 'health_beauty': 8, 'books_technical': 9, 'fashion_bags_accessories': 10, 'bed_bath_table': 11, 'sports_leisure': 12, 'consoles_games': 13, 'office_furniture': 14, 'luggage_accessories': 15, 'food': 16, 'agro_industry_and_commerce': 17, 'electronics': 18, 'computers_accessories': 19, 'construction_tools_construction': 20, 'audio': 21, 'baby': 22, 'construction_tools_lights': 23, 'toys': 24, 'stationery': 25, 'industry_commerce_and_business': 26, 'watches_gifts': 27, 'auto': 28, 'home_appliances': 29, 'kitchen_dining_laundry_garden_furniture': 30, 'air_conditioning': 31, 'home_confort': 32, 'fixed_telephony': 33, 'small_appliances_home_oven_and_coffee': 34, 'diapers_and_hygiene': 35, 'signaling_and_security': 36, 'musical_instruments': 37, 'small_appliances': 38, 'costruction_tools_garden': 39, 'art': 40, 'home_construction': 41, 'books_general_interest': 42, 'party_supplies': 43, 'construction_tools_safety': 44, 'cine_photo': 45, 'fashion_underwear_beach': 46, 'fashion_male_clothing': 47, 'food_drink': 48, 'drinks': 49, 'furniture_living_room': 50, 'market_place': 51, 'music': 52, 'fashion_shoes': 53, 'flowers': 54, 'home_appliances_2': 55, 'fashio_female_clothing': 56, 'computers': 57, 'books_imported': 58, 'christmas_supplies': 59, 'furniture_bedroom': 60, 'home_comfort_2': 61, 'portable_kitchen_and_food_preparers': 62, 'dvds_blu_ray': 63, 'cds_dvds_musicals': 64, 'arts_and_craftmanship': 65, 'furniture_mattress_and_upholstery': 66, 'tablets_printing_image': 67, 'costruction_tools_tools': 68, 'fashion_sport': 69, 'la_cuisine': 70, 'security_and_services': 71, 'fashion_childrens_clothes': 72}

In [54]:
data['product_category_name_english'] = data['product_category_name_english'].replace(dict_categories)
data.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,geolocation_zip_code_prefix,...,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,1,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,...,4244733e06e7ecb4970a6e2683c13e61,1,58,598,4,650,28,9,14,1
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,1,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,eb28e67c4c0b83846050ddfb8a35d051,15775,...,e5f2d52b802189ee658865ca93d83a8f,2,56,239,2,30000,50,30,40,2

In [52]:
categories = data['product_category_name_english'].unique()

In [55]:
data = data.drop('product_category_name', axis=1)

In [57]:
data.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,geolocation_zip_code_prefix,...,geolocation_state.1,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,1,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,...,RJ,4244733e06e7ecb4970a6e2683c13e61,58,598,4,650,28,9,14,1
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,1,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,eb28e67c4c0b83846050ddfb8a35d051,15775,...,SP,e5f2d52b802189ee658865ca93d83a8f,56,239,2,30000,50,30,40,2

In [61]:
extract = data[['geolocation_zip_code_prefix','geolocation_state']]
sorted_extract = extract.sort_values(by = 'geolocation_zip_code_prefix')

In [64]:
sorted_extract['geolocation_state'].unique()

array(['SP', 'RJ', 'ES', 'MG', 'BA', 'SE', 'PE', 'AL', 'PB', 'RN', 'CE',
       'PI', 'MA', 'PA', 'AP', 'AM', 'RR', 'AC', 'DF', 'GO', 'RO', 'TO',
       'MT', 'MS', 'PR', 'SC', 'RS'], dtype=object)

In [65]:
states = sorted_extract['geolocation_state'].unique()
dict_states = {states: \
               indice + 1 for indice, states in enumerate(states)}
print(dict_states)

{'SP': 1, 'RJ': 2, 'ES': 3, 'MG': 4, 'BA': 5, 'SE': 6, 'PE': 7, 'AL': 8, 'PB': 9, 'RN': 10, 'CE': 11, 'PI': 12, 'MA': 13, 'PA': 14, 'AP': 15, 'AM': 16, 'RR': 17, 'AC': 18, 'DF': 19, 'GO': 20, 'RO': 21, 'TO': 22, 'MT': 23, 'MS': 24, 'PR': 25, 'SC': 26, 'RS': 27}

In [66]:
data['geolocation_state'] = data['geolocation_state'].replace(dict_states)

In [68]:
data['geolocation_state.1'] = data['geolocation_state.1'].replace(dict_states)

In [69]:
data.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,geolocation_zip_code_prefix,...,geolocation_state.1,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,1,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,...,2,4244733e06e7ecb4970a6e2683c13e61,58,598,4,650,28,9,14,1
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,1,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,eb28e67c4c0b83846050ddfb8a35d051,15775,...,1,e5f2d52b802189ee658865ca93d83a8f,56,239,2,30000,50,30,40,2

In [70]:
len(data)

110088

In [82]:
customers = data['customer_unique_id'].unique()
dict_customers = {customers: \
               indice + 1 for indice, customers in enumerate(customers)}
print(len(dict_customers))

93303

In [ ]:
data['geolocation_state.1'] = data['geolocation_state.1'].replace(dict_states)

In [84]:
products = data['product_id'].unique()
dict_products = {products: \
               indice + 1 for indice, products in enumerate(products)}
print(len(dict_products))

32156

In [87]:
orders = data['order_id'].unique()
dict_orders = {orders: \
               indice + 1 for indice, orders in enumerate(orders)}
print(len(dict_orders))

96427

In [75]:
data = data.drop('customer_id', axis=1)

In [88]:
data.head(2)

,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,geolocation_zip_code_prefix,geolocation_lat,...,geolocation_state.1,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,1,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,-21.763186,...,2,4244733e06e7ecb4970a6e2683c13e61,58,598,4,650,28,9,14,1
1,00018f77f2f0320c557190d7a144bdd3,1,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,eb28e67c4c0b83846050ddfb8a35d051,15775,-20.222506,...,1,e5f2d52b802189ee658865ca93d83a8f,56,239,2,30000,50,30,40,2